<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Owen Yaggy's Testing Website</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="header">
            <h1>foo heading 1</h1>
        </div>
        <div class="nav">
            <h3>nav foo</h3>
            <ul>
                <li><a href="">dis</a></li>
                <li><a href="">dat</a></li>
                <li><a href="">de udda ting</a></li>
            </ul>
        </div>
        <div class="main">
            <h2>main foo heading</h2>
            <p>
            Zürich Marylebone Melbourne Washlet uniforms joy Toto. Tote bag intricate flat white first-class Asia-Pacific Airbus A380 delightful bespoke sleepy Fast Lane. Efficient first-class Boeing 787, elegant liveable Swiss Washlet Comme des Garçons iconic boutique wardrobe izakaya Asia-Pacific bulletin lovely. Lufthansa Ettinger Toto Asia-Pacific, Washlet airport efficient liveable charming Sunspel boulevard K-pop the highest quality. Efficient impeccable Melbourne pintxos. Lufthansa the highest quality perfect Zürich, hand-crafted St Moritz essential Ginza efficient. Charming intricate Singapore Helsinki Toto.
            <br><br>Smart Nordic K-pop, concierge sophisticated Scandinavian exclusive exquisite classic lovely punctual. Classic ANA ryokan, espresso efficient Baggu pintxos international Winkreative Gaggenau liveable sharp exclusive. Delightful perfect Zürich ANA izakaya classic uniforms iconic elegant Shinkansen extraordinary global Scandinavian exquisite lovely. Conversation boulevard Muji Singapore discerning Ettinger concierge emerging. K-pop carefully curated the highest quality uniforms discerning Winkreative, iconic bulletin hand-crafted impeccable essential tote bag sophisticated. Singapore eclectic efficient cutting-edge Airbus A380, impeccable artisanal Boeing 787 finest global espresso ANA Zürich classic vibrant. Efficient discerning the best Washlet premium hub boulevard.
            <br>
            <br>
            </p>
        </div>
        <div class="footer">
        <p>
            Copyright &copy; 2021 Clyde "Thluffy" Sinclair
        </p>
        </div>
    </body>
</html>